
header {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    color: aliceblue;
   
}

header::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url(../static/imgHeader.jpg);
    background-size: cover;
    background-position-x:center ;
}

header .titles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent ;
    padding-block: 25px;
    position: relative;
    box-sizing: border-box; 
    height: 100%;
    justify-content: center;
    padding-top: 200px;
}

header .titles .subtitle {
    font-size: 1.2em;
    text-align: center;
    width: 70%;
    font-weight: lighter ;
    margin-top: 8%;
    letter-spacing: 0.5em;  
}


.counter {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: start;  
}

.counter div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 1em;
}

.counter .number {
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.counter .desciption {
    margin-top: 1em;
    
}