.step-three {
    margin-top: 15%;
    background-color: #f7efd7;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .step-three img {
    width: 40%;
  }
  
  .card {
    margin: 1em;
    background: #ffff;
    padding: 1em;
    color: var(--first-color);
    text-align: center;
    border-radius: 15px;
  }

  
  .step-three-confirm {
    color: var(--first-color);
    background: url(../static/1.jpg) white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 40vh;
    justify-content: center;
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .step-three p {
      color: var(--text-color);
      margin: 5px;
  }
  .step-three h2 {
      margin: 5px;
  }
  
  .step-three h3 {
      margin: 10px;
  }
  
  .step-three button {
    margin-top: 1em;
  }
  
